[submodule "SCFacebook/ExternalFrameworks/EGOImageLoading"]
	path = SCFacebook/ExternalFrameworks/EGOImageLoading
	url = https://github.com/enormego/EGOImageLoading.git
[submodule "SCFacebook/ExternalFrameworks/FacebookSDK"]
	path = SCFacebook/ExternalFrameworks/FacebookSDK
	url = git@github.com:facebook/facebook-ios-sdk.git
